*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: burlywood;
}
header {
    background-color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
main {
    width: 80%;
    margin: auto;
}
a {
    text-decoration: none;
    color: blue;
    font-size: 20px;
}
h1, h2 {
    text-align: center;
    margin-top: 20px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.bio h3 {
    margin-bottom: 20px;
}
p {
    font-size: 16px;
    line-height: 30px;
}
.section h2 {
    padding-bottom: 10px;
}
footer {
    width: 80%;
    margin: auto;
}
footer p {
    text-align: center;
    padding: 5px 0; 
}